main{
    padding: 24px;
}
h1 {
    color: white;

}
h3{
    color: white;
}
p{
    color: gray;
}
a {
    color: white;
}
li{
    display: inline;
}
nav{

}
nav{
    display: inline;
    width: 100px;
}
ul {
  display: inline;  
}
